//[Dd]ebug/
E:\Documents\Github\C++\DAC415-Programming-Fundamentals\Excercises\Week_06\[James J] Tutorial 06 Exercise 01\.vs

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.sdf

# Executables
*.exe
*.out
*.app
